<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ToDoList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        .banner {
            font-size:500%;
            text-align:center;
        }
        button {
            font-size:200%;
            text-align:center;
        }
        label {
            font-size:150%;
            text-align:center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="banner">ToDoList</div>
    <form action="/user/login" method="post">
        <div class="form-group" align="center">
            <label for="id">ID : </label>
            <input type="text" id="id" name="loginId" placeholder="ID">
            <label for="pw">PW : </label>
            <input type="text" id="pw" name="loginPw" placeholder="PW">
        </div>
        <p class="btn" align="center">
            <button type="button" onclick="location.href='/enroll/enrollUser'">가입</button>
            <button type="submit">로그인</button>
        </p>
    </form>
</div>
</body>
</html>